* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-family: "微软雅黑";
}
body {
  background: #F5F5F5;
}
.lineStyle {
  width: 100%;
  height: 2px;
  background: #dfdfdf;
}
header {
  background: #80cbd1;
  height: 3rem;
  width: 100%;
  line-height: 3rem;
}
header .nav {
  position: relative;
  font-weight: bold;
  text-align: center;
  display: block;
}
header .nav a {
  font-size: 1.0rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  position: absolute;
  left: 1.02rem;
}
header .nav h1 {
  color: #fff;
  font-size: 1.2rem;
}
header ul {
  display: block;
}
header ul li {
  float: left;
  width: 20%;
  height: 3rem;
  text-align: center;
}
header ul li a {
  color: #aaa;
}
header ul .nav_active {
  border-bottom: 3px solid #80cbd1;
}
.container .firstSection {
  background: #fff;
  margin-bottom: 2.5rem;
}
.container .firstSection img {
  width: 100%;
  height: 14rem;
}
.container .firstSection .tags {
  width: 100%;
  position: relative;
}
.container .firstSection .tags ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-warp: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 9rem;
}
.container .firstSection .tags ul li {
  display: inline-block;
  width: 15%;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
}
.container .firstSection .tags ul li span {
  display: inline-block;
  text-align: center;
  width: 3rem;
  height: 3rem;
  background-color: #00C7D6;
  border-radius: 50%;
  position: relative;
  margin-bottom: 1.2rem;
}
.container .firstSection .tags ul li span img {
  width: 50%;
  height: 50%;
  position: relative;
  top: 20%;
  text-align: center;
}
.container .firstSection .sub ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.container .firstSection .sub ul li {
  width: 33%;
  margin: 1rem 0;
  height: auto;
  text-align: center;
}
.container .firstSection .sub ul li img {
  display: inline-block;
  width: 60%;
  height: auto;
}
.container .firstSection .sub ul li:not(:last-child) {
  border-right: 1px solid #dfdfdf;
}
.tags::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 90%;
  left: 5%;
  background: #ccc;
}
.secondSection {
  background: #fff;
  margin-bottom: 2rem;
}
.secondSection .block {
  padding: 0 0.5rem;
}
.secondSection .block h3 {
  color: #666666;
  padding: 0.5rem 1rem;
}
.secondSection .block .content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.secondSection .block .content .bor {
  border: 1px solid #FFB832;
}
.secondSection .block .content li {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  width: 6rem;
  height: 6rem;
}
.secondSection .block .content li img {
  width: 6rem;
  height: 6rem;
}
.secondSection .block .content li .text {
  width: 90%;
  height: 41%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8F8F8;
  font-size: 0.5rem;
}
.thirdSection {
  background: #fff;
  width: 100%;
}
.thirdSection .con {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-bottom: 2px solid #dfdfdf;
}
.thirdSection h4 {
  font-size: 1rem;
  font-weight: normal;
}
.thirdSection .leftImg {
  display: inline-block;
  padding: 0.5rem;
  height: 5rem;
  width: 7.5rem;
}
.thirdSection .leftImg img {
  width: 100%;
  height: 100%;
}
.thirdSection .titleBlock {
  width: 50%;
  padding: 0.5rem;
}
.thirdSection .titleBlock p {
  margin-top: 1rem;
  color: #646464;
  font-size: 0.9rem;
}
.thirdSection .bottomBlock {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.thirdSection .bottomBlock .threeBear {
  float: left;
  margin-top: 1rem;
}
.thirdSection .bottomBlock .threeBear img {
  width: 32%;
  height: 30%;
}
.thirdSection .bottomBlock p {
  margin-top: 1rem;
  color: #646464;
  font-size: 0.9rem;
}
