/* reset */
* {
  margin: 0px;
  padding: 0px;
}
.container header {
  height: 45px;
  line-height: 45px;
  position: relative;
  background-color: #80cbd1;
  text-align: center;
}
.container header .header-back {
  position: absolute;
  left: 5px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.container header .header-back img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
}
.container header .header-title {
  color: #fff;
  font-size: 20px;
}
.container nav {
  height: 45px;
  background-color: #fff;
  line-height: 42px;
}
.container nav .navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container nav .navbar .navbar-item {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}
.container nav .navbar .active {
  border-bottom: 3px solid #80cbd1;
}
.container .banner {
  height: 220px;
  overflow-y: hidden;
}
.container .banner img {
  height: inherit;
  background-size: 100%;
}
.container .tabs {
  height: 120px;
  position: relative;
}
.container .tabs .tab-list {
  height: inherit;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container .tabs .tab-list .tab-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container .tabs .tab-list .tab-item .tab-icon img {
  width: 50px;
  height: 50px;
}
.container .tabs .tab-list .tab-item .tab-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.container .tabs::after {
  content: "";
  width: 94%;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 3%;
  border-bottom: 1px solid #c7c7c7;
}
